<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/finalstyles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
        <title>Login</title>
    </head>
    <body>
        <h1 class="name">Log In</h1>
        Email: <input type="text" id="email"/><br/>
        Password: <input type="password" id="password"/><br/>
        <button onclick ="login()">Log in</button><br>
        <div>
            Don't have an account?
            <a href="/twittersignup.html" >Sign up</a>
        </div>
        <script src="/static/finalscript.js"></script>
    </body>
</html>