<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Imperial+Script&family=Monsieur+La+Doulaise&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/finalstyles.css">
        <title>Sign Up</title>
    </head>
    <body>
        <h1 class="name">Sign In</h1>
        Username: <input type="text" id="username"/><br>
        Email: <input type="text" id="email"/><br>
        Password: <input type="password" id="password"/><br>
        <button onclick ="signup()">Sign up</button><br>
        <div>
            Have an account?
            <a href="/twitterlogin.html">Log in</a>
        </div>

        <script src="/static/finalscript.js"></script>
    </body>
</html>